<div class="nes-container with-title is-centered" id="mainContainer">
    <p class="title">Gotta Catch 'Em All</p>

        <div id="socialContainer">
                <!-- linkedin -->
                <a href="https://www.linkedin.com/in/rosalesgstn/" target="_blank" rel="noopener"><i class="nes-icon linkedin is-large"></i> </a>
                <!-- github -->
                <a href="https://github.com/gst-n/" target="_blank" rel="noopener"><i class="nes-icon github is-large"></i></a>
                <!-- instagram -->
                <a href="https://www.instagram.com/g.st.n/" target="_blank" rel="noopener"><i class="nes-icon instagram is-large"></i></a>
        </div>

    <main routerLink="/inicio">
        <header>
            <span class="nes-text is-success">Guess the Pokemon!</span>
        </header>
        <i class="nes-pokeball"></i> 
    </main>


</div>